<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome  </h1>
    
    <form action="/" method="get">
        <input type="text" name="city" placeholder="Enter city name">
        <button type="submit">Search</button>
    </form>

    <% if (weatherData) %>
    <p>City : <%= weatherData.name %></p>
    <p> Min Temperature : <%= weatherData.main.temp_min %> °C </p>
    <p>Max Temperature : <%= weatherData.main.temp_max %> °C </p>

    
</body>
</html>